.content-wrap{
    width: 100%;
    height: 100%;
    .content-inner{
        width: 100%;
        padding-bottom: 1rem;
        
    }
    .KingkongModule{
        width: 100%;
        height:6rem;
        display: flex;
        flex-wrap: wrap;
        align-items: space-around;
        background-color: #fff;
        img{
            width: 20%;
            height: 50%;
        }
    }
}